In [1]:
import pandas as pd
import numpy as np
import pyodbc as db
import warnings
from numpy.random import seed
from numpy.random import randn
from numpy.random import normal
from scipy.stats import ttest_ind
warnings.filterwarnings('ignore')

In [7]:
cnx: db.Connection = db.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=DWH;"
    "Database=dwOper;"
    "Trusted_Connection=yes;")

In [3]:
def get_user_history(TOTOID, UsersList):
    user_bets = f"""
    SELECT u.PartnerUserId,
           o.StakeAmount AS BetAmount,
    	   o.CalculationDate_DT AS Date
    FROM VIEW_sport_OrdersBetsStakes_TotogamingAm AS o
        INNER JOIN VIEW_sport_PartnerUser_TotogamingAm AS u ON u.UserID = o.UserID
    WHERE u.PartnerUserId = {TOTOID}
      AND o.OrderStateID IN (2,3,5,6,8,9,10)
      AND o.CalculationDate_DT >= '2022-07-01'
      AND o.CalculationDate_DT  < CAST(GETDATE() as date)
      AND u.isDeleted NOT IN (1)
      AND o.DeviceTypeID NOT IN (1)

    UNION ALL

    SELECT u.PartnerUserId,
           (CASE WHEN g.GameProviderID IN (48, 10) AND o.TypeId IN (1, 5, 8, 18, 33) THEN o.OrderAmount
            WHEN g.GameProviderID NOT IN (48, 10) THEN o.OrderAmount ELSE 0 END) BetAmount,
    	   o.CalculationDate_DT
    FROM casino.orders AS o
    INNER JOIN C_Game AS g on g.GameID=o.GameID
    INNER JOIN VIEW_PlatformPartnerUsers_TotogamingAm u on u.UserID = o.UserID
    WHERE u.PartnerUserId = {TOTOID}
      AND o.CalculationDate_DT >= '2022-07-01'
      AND o.CalculationDate_DT  < CAST(GETDATE() as date)
      AND o.OperationTypeID IN (3,299)
      AND g.GameProviderID<>3
      AND o.OrderStateID IN (2,3,5,6,8,9,10) AND CASE WHEN g.GameProviderID IN (48, 10) THEN o.TypeId ELSE 0 END IN (0, 1, 5, 8, 18, 33)
    """
    df = pd.read_sql(user_bets, cnx)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
    df['PartnerUserId'] = df['PartnerUserId'].astype(int)
    anchor_date = UsersList[UsersList['PartnerUserId'] == TOTOID].iloc[0,0]
    bet_amounts_after = df[df['Date'] >= anchor_date]['BetAmount'].values
    bet_amounts_before = df[df['Date'] < anchor_date]['BetAmount'].values
    t_stat, p_value = ttest_ind(bet_amounts_before, bet_amounts_after, equal_var=True)
    return t_stat, p_value

In [47]:
for i in [100677520,100741725,101098947,100381567,100401575,100393944,101027480,100453862,100596928,100929633,100739883]:
    print(get_user_history(i, users))

        PartnerUserId    BetAmount       Date
0           100677520  5522.000000 2022-09-28
1           100677520  5000.000000 2022-09-29
2           100677520  5000.000000 2022-09-29
3           100677520  5000.000000 2022-09-29
4           100677520  4518.105882 2022-09-25
...               ...          ...        ...
272170      100677520     0.000000 2023-03-05
272171      100677520     0.000000 2023-03-05
272172      100677520     0.000000 2023-03-05
272173      100677520     0.000000 2023-03-05
272174      100677520    10.000000 2023-03-05

[272175 rows x 3 columns]
2022-10-01 00:00:00
[1358.26771654 3641.73228346 9632.         ...    0.            0.
   10.        ]
[5522. 5000. 5000. ...   50.   50.   50.]
(        PartnerUserId    BetAmount       Date
0           100677520  5522.000000 2022-09-28
1           100677520  5000.000000 2022-09-29
2           100677520  5000.000000 2022-09-29
3           100677520  5000.000000 2022-09-29
4           100677520  4518.105882 2022-09-25
...               ...          ...        ...
272170      100677520     0.000000 2023-03-05
272171      100677520     0.000000 2023-03-05
272172      100677520     0.000000 2023-03-05
272173      100677520     0.000000 2023-03-05
272174      100677520    10.000000 2023-03-05

[272175 rows x 3 columns], 66.95671440977843, 0.0)
        PartnerUserId    BetAmount       Date
0           100741725  1136.134454 2022-10-01
1           100741725  1284.033613 2022-10-01
2           100741725  1579.831933 2022-10-01
3           100741725  1012.048193 2022-09-08
4           100741725   604.066265 2022-09-08
...               ...          ...        ...
553630      100741725   140.000000 2023-03-01
553631      100741725   180.000000 2023-03-01
553632      100741725   180.000000 2023-03-01
553633      100741725    50.000000 2023-03-01
553634      100741725   180.000000 2023-03-01

[553635 rows x 3 columns]
2022-10-01 00:00:00
[1136.13445378 1284.03361345 1579.83193277 ...  180.           50.
  180.        ]
[ 1012.04819277   604.06626506   357.97101449 ... 12800.
 12800.           300.        ]
(        PartnerUserId    BetAmount       Date
0           100741725  1136.134454 2022-10-01
1           100741725  1284.033613 2022-10-01
2           100741725  1579.831933 2022-10-01
3           100741725  1012.048193 2022-09-08
4           100741725   604.066265 2022-09-08
...               ...          ...        ...
553630      100741725   140.000000 2023-03-01
553631      100741725   180.000000 2023-03-01
553632      100741725   180.000000 2023-03-01
553633      100741725    50.000000 2023-03-01
553634      100741725   180.000000 2023-03-01

[553635 rows x 3 columns], 30.66741453274037, 2.3097358928512514e-206)
        PartnerUserId  BetAmount       Date
0           101098947      500.0 2022-12-03
1           101098947      250.0 2022-09-30
2           101098947      500.0 2022-09-30
3           101098947      500.0 2022-09-30
4           101098947     1000.0 2022-09-30
...               ...        ...        ...
318456      101098947     1000.0 2023-03-01
318457      101098947     1250.0 2023-03-01
318458      101098947     4000.0 2023-03-01
318459      101098947      500.0 2023-03-01
318460      101098947     2000.0 2023-03-01

[318461 rows x 3 columns]
2022-10-01 00:00:00
[ 500.   20.   20. ... 4000.  500. 2000.]
[250. 500. 500. ... 250. 250. 250.]
(        PartnerUserId  BetAmount       Date
0           101098947      500.0 2022-12-03
1           101098947      250.0 2022-09-30
2           101098947      500.0 2022-09-30
3           101098947      500.0 2022-09-30
4           101098947     1000.0 2022-09-30
...               ...        ...        ...
318456      101098947     1000.0 2023-03-01
318457      101098947     1250.0 2023-03-01
318458      101098947     4000.0 2023-03-01
318459      101098947      500.0 2023-03-01
318460      101098947     2000.0 2023-03-01

[318461 rows x 3 columns], -118.29240058124934, 0.0)
        PartnerUserId    BetAmount       Date
0           100381567  2997.620936 2022-09-20
1           100381567  2797.779540 2022-09-20
2           100381567  3497.224425 2022-09-20
3           100381567  8328.729282 2022-09-19
4           100381567  3380.153846 2022-09-19
...               ...          ...        ...
504011      100381567    40.000000 2023-03-01
504012      100381567    40.000000 2023-03-01
504013      100381567    40.000000 2023-03-01
504014      100381567    40.000000 2023-03-01
504015      100381567    40.000000 2023-03-01

[504016 rows x 3 columns]
2022-10-01 00:00:00
[395.73459716 917.57387247 943.49403836 ...  40.          40.
  40.        ]
[2997.62093577 2797.77954005 3497.22442506 ...  200.          200.
  200.        ]
(        PartnerUserId    BetAmount       Date
0           100381567  2997.620936 2022-09-20
1           100381567  2797.779540 2022-09-20
2           100381567  3497.224425 2022-09-20
3           100381567  8328.729282 2022-09-19
4           100381567  3380.153846 2022-09-19
...               ...          ...        ...
504011      100381567    40.000000 2023-03-01
504012      100381567    40.000000 2023-03-01
504013      100381567    40.000000 2023-03-01
504014      100381567    40.000000 2023-03-01
504015      100381567    40.000000 2023-03-01

[504016 rows x 3 columns], 31.694114346377216, 3.0900985229644964e-220)
      PartnerUserId  BetAmount       Date
0         100401575     5000.0 2022-09-29
1         100401575    17300.0 2022-09-27
2         100401575    10000.0 2022-09-27
3         100401575    10000.0 2022-09-27
4         100401575    10000.0 2022-09-27
...             ...        ...        ...
5676      100401575     2000.0 2023-03-01
5677      100401575     4000.0 2023-03-01
5678      100401575     1000.0 2023-03-01
5679      100401575     1000.0 2023-03-01
5680      100401575     1000.0 2023-03-01

[5681 rows x 3 columns]
2022-10-01 00:00:00
[ 1837.12121212 18074.          6300.         ...  1000.
  1000.          1000.        ]
[ 5000. 17300. 10000. ...     0.   200.     0.]
(      PartnerUserId  BetAmount       Date
0         100401575     5000.0 2022-09-29
1         100401575    17300.0 2022-09-27
2         100401575    10000.0 2022-09-27
3         100401575    10000.0 2022-09-27
4         100401575    10000.0 2022-09-27
...             ...        ...        ...
5676      100401575     2000.0 2023-03-01
5677      100401575     4000.0 2023-03-01
5678      100401575     1000.0 2023-03-01
5679      100401575     1000.0 2023-03-01
5680      100401575     1000.0 2023-03-01

[5681 rows x 3 columns], 13.981828724605954, 1.0601508024754487e-43)
       PartnerUserId     BetAmount       Date
0          100393944   1602.409639 2022-09-29
1          100393944  10000.000000 2022-09-21
2          100393944   7500.000000 2022-09-22
3          100393944  49450.000000 2022-09-15
4          100393944  27000.000000 2022-09-15
...              ...           ...        ...
35034      100393944   1000.000000 2023-03-04
35035      100393944   1350.000000 2023-03-02
35036      100393944   2000.000000 2023-03-02
35037      100393944    995.000000 2023-03-01
35038      100393944      0.000000 2023-03-01

[35039 rows x 3 columns]
2022-10-01 00:00:00
[ 1876.89768977 10000.         10000.         ...  2000.
   995.             0.        ]
[ 1602.40963855 10000.          7500.         ...  1181.
   615.          1200.        ]
(       PartnerUserId     BetAmount       Date
0          100393944   1602.409639 2022-09-29
1          100393944  10000.000000 2022-09-21
2          100393944   7500.000000 2022-09-22
3          100393944  49450.000000 2022-09-15
4          100393944  27000.000000 2022-09-15
...              ...           ...        ...
35034      100393944   1000.000000 2023-03-04
35035      100393944   1350.000000 2023-03-02
35036      100393944   2000.000000 2023-03-02
35037      100393944    995.000000 2023-03-01
35038      100393944      0.000000 2023-03-01

[35039 rows x 3 columns], 146.44082112563459, 0.0)
        PartnerUserId     BetAmount       Date
0           101027480  50000.000000 2022-09-16
1           101027480    676.625659 2022-11-27
2           101027480     49.940263 2022-11-03
3           101027480     97.968937 2022-11-03
4           101027480    100.253807 2022-11-02
...               ...           ...        ...
180197      101027480   2500.000000 2023-03-08
180198      101027480   1250.000000 2023-03-08
180199      101027480   2500.000000 2023-03-08
180200      101027480      0.000000 2023-03-05
180201      101027480      0.000000 2023-03-04

[180202 rows x 3 columns]
2022-10-01 00:00:00
[ 676.62565905   49.94026284   97.96893668 ... 2500.            0.
    0.        ]
[50000.  4300. 20000. ...   600.   400.   500.]
(        PartnerUserId     BetAmount       Date
0           101027480  50000.000000 2022-09-16
1           101027480    676.625659 2022-11-27
2           101027480     49.940263 2022-11-03
3           101027480     97.968937 2022-11-03
4           101027480    100.253807 2022-11-02
...               ...           ...        ...
180197      101027480   2500.000000 2023-03-08
180198      101027480   1250.000000 2023-03-08
180199      101027480   2500.000000 2023-03-08
180200      101027480      0.000000 2023-03-05
180201      101027480      0.000000 2023-03-04

[180202 rows x 3 columns], -8.653152736318598, 5.049740367091919e-18)
        PartnerUserId    BetAmount       Date
0           100453862  1263.969171 2022-09-25
1           100453862  2666.814159 2022-09-25
2           100453862  2469.394435 2022-09-25
3           100453862  5766.859345 2022-09-25
4           100453862  1798.363339 2022-09-25
...               ...          ...        ...
437963      100453862   200.000000 2023-03-01
437964      100453862   100.000000 2023-03-01
437965      100453862   500.000000 2023-03-01
437966      100453862   100.000000 2023-03-01
437967      100453862   500.000000 2023-03-01

[437968 rows x 3 columns]
2022-10-01 00:00:00
[1500.         3041.70403587  300.         ...  500.          100.
  500.        ]
[1263.96917148 2666.81415929 2469.39443535 ...  250.          250.
  250.        ]
(        PartnerUserId    BetAmount       Date
0           100453862  1263.969171 2022-09-25
1           100453862  2666.814159 2022-09-25
2           100453862  2469.394435 2022-09-25
3           100453862  5766.859345 2022-09-25
4           100453862  1798.363339 2022-09-25
...               ...          ...        ...
437963      100453862   200.000000 2023-03-01
437964      100453862   100.000000 2023-03-01
437965      100453862   500.000000 2023-03-01
437966      100453862   100.000000 2023-03-01
437967      100453862   500.000000 2023-03-01

[437968 rows x 3 columns], 19.101396125613547, 2.653328317885422e-81)
        PartnerUserId   BetAmount       Date
0           100596928  143.790850 2022-09-28
1           100596928  148.874365 2022-09-28
2           100596928  139.433551 2022-09-28
3           100596928  139.433551 2022-09-28
4           100596928  115.468410 2022-09-28
...               ...         ...        ...
708697      100596928  100.000000 2023-03-01
708698      100596928  200.000000 2023-03-01
708699      100596928  100.000000 2023-03-01
708700      100596928  100.000000 2023-03-01
708701      100596928  200.000000 2023-03-01

[708702 rows x 3 columns]
2022-10-01 00:00:00
[2985.07462687  527.87109375  332.78145695 ...  100.          100.
  200.        ]
[143.79084967 148.87436456 139.4335512  ...  40.          40.
  40.        ]
(        PartnerUserId   BetAmount       Date
0           100596928  143.790850 2022-09-28
1           100596928  148.874365 2022-09-28
2           100596928  139.433551 2022-09-28
3           100596928  139.433551 2022-09-28
4           100596928  115.468410 2022-09-28
...               ...         ...        ...
708697      100596928  100.000000 2023-03-01
708698      100596928  200.000000 2023-03-01
708699      100596928  100.000000 2023-03-01
708700      100596928  100.000000 2023-03-01
708701      100596928  200.000000 2023-03-01

[708702 rows x 3 columns], 26.569875430426514, 1.8053524935653207e-155)
      PartnerUserId  BetAmount       Date
0         100929633   100000.0 2022-09-17
1         100929633    23836.0 2022-09-17
2         100929633    59999.0 2022-09-17
3         100929633    45000.0 2022-09-17
4         100929633     9000.0 2022-09-17
...             ...        ...        ...
2396      100929633        0.0 2022-10-24
2397      100929633        0.0 2022-10-24
2398      100929633        0.0 2022-10-24
2399      100929633        0.0 2022-10-24
2400      100929633        0.0 2022-10-24

[2401 rows x 3 columns]
2022-10-01 00:00:00
[1.54811715e+02 1.79916318e+02 1.69637883e+04 6.00000000e+04
 6.00000000e+04 5.63000000e+02 1.43732591e+04 6.00000000e+04
 2.00000000e+04 2.88000000e+04 3.00000000e+04 3.00000000e+04
 3.61300000e+04 5.00000000e+04 4.30000000e+04 1.00000000e+05
 1.41464891e+04 3.03020000e+04 3.00000000e+04 4.00000000e+04
 6.50000000e+04 4.00000000e+04 3.00000000e+04 1.16711299e+03
 1.30688701e+03 2.00000000e+04 1.56267409e+04 1.30362117e+04
 4.70000000e+04 1.03600000e+03 6.00000000e+04 3.00000000e+04
 5.00000000e+04 4.40000000e+01 4.00000000e+04 4.00000000e+04
 9.17500000e+04 6.50000000e+04 6.50000000e+04 3.00000000e+04
 4.80000000e+04 3.00000000e+04 2.60000000e+04 4.11970000e+04
 2.99530000e+04 5.00000000e+04 3.00000000e+04 1.43535109e+04
 4.00000000e+04 4.00000000e+04 4.42822384e+03 4.20924574e+03
 5.35279805e+03 4.23357664e+03 3.57664234e+03 4.54987835e+03
 3.64963504e+03 4.00000000e+04 2.00000000e+04 1.70000000e+03
 3.00000000e+04 3.00000000e+04 3.00000000e+04 3.00000000e+04
 2.60000000e+04 3.00000000e+04 4.40000000e+04 2.00000000e+04
 2.00000000e+04 3.00000000e+04 7.00000000e+04 5.00000000e+04
 3.00000000e+04 3.00000000e+04 3.02630000e+04 2.00000000e+04
 3.26000000e+04 4.30000000e+04 5.00000000e+04 4.05000000e+04
 1.52301255e+02 6.00000000e+04 1.06363636e+04 1.60669456e+02
 1.53636364e+04 1.52301255e+02 2.00000000e+04 6.00000000e+04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00

In [4]:
users = pd.read_excel('Z:\\Analytics\\High Values Change Analysis\\High Users.xlsx')
users['Given High Status-Date'] = pd.to_datetime(users['Given High Status-Date'], format='%Y-%m-%d')

In [8]:
t_stats_ = []
p_values_ = []
for i in users['PartnerUserId'].values:
    t_stat, p_value = get_user_history(i, users)
    p_value = "{:.8f}".format(p_value)
    t_stat  = "{:.8f}".format(t_stat)
    print(t_stat, p_value)
    t_stats_.append(t_stat)
    p_values_.append(p_value)

66.98358755 0.00000000
31.10425494 0.00000000
-118.13974655 0.00000000
32.41665839 0.00000000
13.97880099 0.00000000
146.56857937 0.00000000
-8.65315274 0.00000000
19.66038245 0.00000000
26.77189789 0.00000000
27.28013529 0.00000000
0.15138593 0.87967138
62.56286011 0.00000000
7.54453012 0.00000000
3.36641080 0.00076230
-46.20639273 0.00000000
65.31297906 0.00000000
-5.99821986 0.00000000
8.75795953 0.00000000
-35.18024926 0.00000000
75.74548110 0.00000000
10.20525345 0.00000000
23.70410327 0.00000000
146.33577258 0.00000000
154.02419374 0.00000000
133.32752035 0.00000000
-0.82305781 0.41047581
54.99570714 0.00000000
44.37125182 0.00000000
55.69944557 0.00000000
22.77283926 0.00000000
6.72876703 0.00000000
31.10795743 0.00000000
-8.07887319 0.00000000
-16.40659413 0.00000000
-2.99106191 0.00278035
-37.67693524 0.00000000
-1.72178339 0.08511241
62.89353334 0.00000000
109.00010079 0.00000000
0.19077904 0.84869876
18.93532358 0.00000000
7.05607306 0.00000000
-126.66623595 0.00000000
12.56670063 0.00000000
6.45620720 0.00000000
115.81709904 0.00000000
8.50897876 0.00000000
29.96077135 0.00000000
-24.55173244 0.00000000
-11.73492731 0.00000000
6.05630445 0.00000000
-11.98164929 0.00000000
119.85851716 0.00000000
29.84407683 0.00000000
24.26593548 0.00000000
-213.95859866 0.00000000
13.17163485 0.00000000
180.90404232 0.00000000
-93.76239596 0.00000000
-12.04381017 0.00000000
8.63238474 0.00000000
20.15421491 0.00000000
-19.39142165 0.00000000
2.34096965 0.01923460
5.67263095 0.00000001
9.63349946 0.00000000
98.17891235 0.00000000
-119.46350740 0.00000000
32.44597205 0.00000000
-6.15675266 0.00000000
-101.70305725 0.00000000
12.53742475 0.00000000
232.52052249 0.00000000
-12.78095090 0.00000000
-18.37274553 0.00000000
-12.36218216 0.00000000
17.87129920 0.00000000
9.40469766 0.00000000
41.27679655 0.00000000
259.12289998 0.00000000
-5.64263666 0.00000002
-75.56911181 0.00000000
-38.07467413 0.00000000
-9.66471101 0.00000000
-31.90534361 0.00000000
-22.76271437 0.00000000
81.46650396 0.00000000
-27.20139679 0.00000000
5.49772146 0.00000004
76.66992729 0.00000000
-36.59171044 0.00000000
36.39364022 0.00000000
1.34019006 0.18019017
-11.63695934 0.00000000
10.40033636 0.00000000
8.55884790 0.00000000
18.74217700 0.00000000
-31.16142624 0.00000000
-19.68967982 0.00000000
29.61871814 0.00000000
25.83062543 0.00000000
-52.92068099 0.00000000
93.72288035 0.00000000
-6.84598625 0.00000000
-49.25676351 0.00000000
8.62237047 0.00000000
21.70372817 0.00000000
24.07602496 0.00000000
-26.50655145 0.00000000
63.88471382 0.00000000
43.16392129 0.00000000
-5.08985757 0.00000036
55.52968772 0.00000000
-67.36825366 0.00000000
23.20231033 0.00000000
-5.35575161 0.00000009
24.09574184 0.00000000
-38.54204875 0.00000000
-40.99519143 0.00000000
198.00945876 0.00000000
20.80803418 0.00000000
17.38715234 0.00000000
288.96268707 0.00000000
40.96043299 0.00000000
-82.00356158 0.00000000
8.59357250 0.00000000
63.15509864 0.00000000
-34.46005201 0.00000000
122.81110889 0.00000000
6.77438884 0.00000000
36.82531052 0.00000000
-24.60046751 0.00000000
-110.25512813 0.00000000
-42.78952686 0.00000000
-72.13706717 0.00000000
14.13833809 0.00000000
0.18272145 0.85501713
5.37504811 0.00000008
20.18920685 0.00000000
17.03869847 0.00000000
4.62875890 0.00000371
34.69620928 0.00000000
26.46150696 0.00000000
-71.62133539 0.00000000
2.99317269 0.00276292
-190.45083151 0.00000000
-21.73774527 0.00000000
-18.03695660 0.00000000
-179.74737993 0.00000000
-21.50915746 0.00000000
1.44893873 0.14737472
-26.40256929 0.00000000
12.91024816 0.00000000
-2.15817787 0.03092156
26.05805593 0.00000000
4.90008845 0.00000103
-39.70327065 0.00000000
34.30177573 0.00000000
1.70852768 0.08754194
38.79660733 0.00000000
85.36467265 0.00000000
-34.47211047 0.00000000
39.43199392 0.00000000
13.71595106 0.00000000
-53.50412333 0.00000000
-76.74047216 0.00000000
111.74245071 0.00000000
57.58673503 0.00000000
-10.22799116 0.00000000
11.97836726 0.00000000
13.28114219 0.00000000
33.74127544 0.00000000
15.90558658 0.00000000
11.33047293 0.00000000
10.44300389 0.00000000
31.86010302 0.00000000
95.38588544 0.00000000
-13.61415034 0.00000000
46.84001405 0.00000000
42.34959872 0.00000000
-98.59274792 0.00000000
67.63806293 0.00000000
-87.93607968 0.00000000
-163.35076638 0.00000000
-121.68523517 0.00000000
0.23074178 0.81751558
98.50517481 0.00000000
62.84522774 0.00000000
-19.82685563 0.00000000
-113.98488275 0.00000000
16.74613214 0.00000000
35.55901200 0.00000000
22.06590762 0.00000000
20.35070707 0.00000000
-3.91878728 0.00008906
30.40648797 0.00000000
8.77846943 0.00000000
0.38191304 0.70252626
-89.82119148 0.00000000
-22.51759318 0.00000000
14.10333125 0.00000000
78.56677544 0.00000000
63.76627940 0.00000000
19.04205684 0.00000000
-110.23669873 0.00000000
95.29320521 0.00000000
-3.44627328 0.00056878
379.99524140 0.00000000
18.72248256 0.00000000
nan nan
89.39442402 0.00000000
62.42110041 0.00000000
-299.99686888 0.00000000
2.21674488 0.02664305
51.58553145 0.00000000
1.46252743 0.14360373
-133.18921942 0.00000000
-11.69072055 0.00000000
17.03282110 0.00000000
-9.55431219 0.00000000
-6.90813939 0.00000000
139.50069775 0.00000000
-32.86632843 0.00000000
13.83693824 0.00000000
6.86317194 0.00000000
120.60878070 0.00000000
-19.32795451 0.00000000
16.42932470 0.00000000
32.60927159 0.00000000
-38.94245643 0.00000000
17.50167853 0.00000000
-60.94113368 0.00000000
2.10599193 0.03522862
-23.60149223 0.00000000
-24.69978016 0.00000000
-3.74561070 0.00018009
-46.92880039 0.00000000
-27.48678945 0.00000000
48.06498369 0.00000000
-13.94009907 0.00000000
20.75952057 0.00000000
61.11213219 0.00000000
-0.43558650 0.66313793
-5.19572401 0.00000020
-13.36571750 0.00000000
20.84845067 0.00000000
9.30895132 0.00000000
29.22237250 0.00000000
-53.21789450 0.00000000
1.58512405 0.11318497
32.41451909 0.00000000
-69.77200890 0.00000000
-54.74904695 0.00000000
-9.34757807 0.00000000
48.56090318 0.00000000
74.52508232 0.00000000
91.00833619 0.00000000
-2.04343286 0.04101110
514.59778443 0.00000000
nan nan
22.36608959 0.00000000
-91.56941559 0.00000000
1.55986625 0.11880460
3.06070344 0.00221067
29.04284289 0.00000000
-92.95541553 0.00000000
18.90220977 0.00000000
11.45447460 0.00000000
16.86333654 0.00000000
-78.19658133 0.00000000
26.70574583 0.00000000
10.22134353 0.00000000
25.34130333 0.00000000
-75.19556829 0.00000000
22.17789149 0.00000000
-85.68531568 0.00000000
28.62163057 0.00000000
-89.01988020 0.00000000
30.46502499 0.00000000
58.74693524 0.00000000
-51.10941391 0.00000000
40.32747644 0.00000000
15.45252875 0.00000000
-2.16594989 0.03035232
37.21852344 0.00000000
21.87545954 0.00000000
9.86236812 0.00000000
11.41276281 0.00000000
18.60107946 0.00000000
43.42543402 0.00000000
-4.39739511 0.00001097
-2.61916217 0.00881716
-63.81312467 0.00000000
158.44190342 0.00000000
-41.97082150 0.00000000
109.52334686 0.00000000
22.06445717 0.00000000
4.32275144 0.00001544
-59.96975196 0.00000000
154.13500932 0.00000000
-80.63344357 0.00000000
-21.29375526 0.00000000
59.63701280 0.00000000
39.35933608 0.00000000
67.77026823 0.00000000
2.62072744 0.00877585
27.97339825 0.00000000
10.44124637 0.00000000
28.70642153 0.00000000
2.93823805 0.00331212
-33.82730011 0.00000000
0.55760107 0.57714013
60.37557755 0.00000000
-23.21149481 0.00000000
nan nan
108.55737769 0.00000000
-4.32014950 0.00001560
1.17543988 0.23982250
40.05762773 0.00000000
-169.91374030 0.00000000
-16.75756144 0.00000000
11.68193666 0.00000000
224.95394316 0.00000000
59.25780674 0.00000000
-347.76956676 0.00000000
-102.84557371 0.00000000
30.17980338 0.00000000
-35.64443395 0.00000000
-43.43706992 0.00000000
8.00289648 0.00000000
nan nan
0.13110158 0.89569579
4.44112178 0.00000895
177.46483197 0.00000000
-36.24608690 0.00000000
-10.27477347 0.00000000
4.76472316 0.00000190
-11.19134252 0.00000000
-11.88321831 0.00000000
nan nan
16.75440523 0.00000000
-52.57182397 0.00000000
-34.48280410 0.00000000
31.16322805 0.00000000
20.93866377 0.00000000
-5.07550794 0.00000039
-28.95262102 0.00000000
-1.31687986 0.18788917
30.58302189 0.00000000
45.51255164 0.00000000
91.92821341 0.00000000
21.70198730 0.00000000
177.03925298 0.00000000
3.92694573 0.00008616
-12.95722983 0.00000000
-0.75608960 0.44960592
15.20388125 0.00000000
47.17744770 0.00000000
1.92315191 0.05446127
-10.17862589 0.00000000
28.32875137 0.00000000
80.59342845 0.00000000
-74.16905712 0.00000000
-5.65384881 0.00000002
-6.03134068 0.00000000
114.07906766 0.00000000
-40.92358312 0.00000000
-109.58301651 0.00000000
-22.34594657 0.00000000
71.23616409 0.00000000
195.82783454 0.00000000
4.03587391 0.00005446
25.58672986 0.00000000
13.25369649 0.00000000
7.21005967 0.00000000
0.13057148 0.89611491
14.35235061 0.00000000
-24.45070323 0.00000000
350.29484654 0.00000000
65.10331788 0.00000000
39.02057835 0.00000000
-24.03568805 0.00000000
-73.89895817 0.00000000
1.92543518 0.05417720
-4.89598126 0.00000098
16.11674894 0.00000000
0.45554707 0.64871614
15.92564930 0.00000000
1.82259838 0.06837108
0.64930850 0.51614257
-147.16211620 0.00000000
12.42331120 0.00000000
71.47518516 0.00000000
54.24958066 0.00000000
0.05047502 0.95974391
-4.00530570 0.00006196
-12.40359742 0.00000000
8.23629392 0.00000000
45.03078873 0.00000000
-4.33435606 0.00001463
92.11828985 0.00000000
12.74209306 0.00000000
14.45432826 0.00000000
3.78624951 0.00015321
-24.43859636 0.00000000
5.32951603 0.00000010
30.45988527 0.00000000
9.04783886 0.00000000
0.99578451 0.31935848
4.45317507 0.00000849
-114.89355932 0.00000000
-22.32172614 0.00000000
-65.47997263 0.00000000
104.47486256 0.00000000
-11.64715610 0.00000000
47.56190495 0.00000000
-176.05808147 0.00000000
21.67920417 0.00000000
-65.08535388 0.00000000
13.35075600 0.00000000
40.20471643 0.00000000
-14.01899025 0.00000000
27.44087156 0.00000000
-33.64537607 0.00000000
-4.63832673 0.00000351
93.60004666 0.00000000
48.17501178 0.00000000
-8.68633305 0.00000000
-4.96381338 0.00000069
83.19876344 0.00000000
24.99594675 0.00000000
-6.16777032 0.00000000
86.53701909 0.00000000
-1.64156494 0.10068139
nan nan
-74.66024493 0.00000000
-63.76232032 0.00000000
14.97760442 0.00000000
55.53770692 0.00000000
-6.34321933 0.00000000
75.16103142 0.00000000
-15.32796701 0.00000000
-88.52572291 0.00000000
-10.35870834 0.00000000
-10.42692143 0.00000000
31.80675930 0.00000000
-10.18078683 0.00000000
-72.10700520 0.00000000
7.84136309 0.00000000
-17.94843819 0.00000000
-8.94058191 0.00000000
-13.21413330 0.00000000
-98.94877248 0.00000000
170.94566946 0.00000000
53.24402985 0.00000000
103.07830166 0.00000000
11.22718311 0.00000000
24.09296640 0.00000000
6.96951797 0.00000000
38.77261129 0.00000000
24.50354259 0.00000000
-21.41017075 0.00000000
6.20626979 0.00000000
14.77859789 0.00000000
-64.00974003 0.00000000
101.47341688 0.00000000
-24.51137692 0.00000000
77.17252910 0.00000000
37.45623397 0.00000000
12.49843825 0.00000000
45.78792414 0.00000000
18.08126252 0.00000000
10.81573312 0.00000000
-20.08485853 0.00000000
54.09850404 0.00000000
-7.87602366 0.00000000
15.55108836 0.00000000
33.48084041 0.00000000
-17.98628405 0.00000000
70.35836186 0.00000000
-45.51246691 0.00000000
-51.37122788 0.00000000
36.14140481 0.00000000
7.39266383 0.00000000
2.12830910 0.03332753
-9.71528945 0.00000000
8.52923389 0.00000000
73.81977057 0.00000000
-39.37939626 0.00000000
-29.42533673 0.00000000
52.03318109 0.00000000
-51.73745179 0.00000000
47.77730495 0.00000000
3.41386253 0.00064319
2.28669458 0.02221426
20.31907374 0.00000000
-13.83299375 0.00000000
-27.30030075 0.00000000
-22.16800931 0.00000000
-10.43625716 0.00000000
4.45562452 0.00000837
31.47611508 0.00000000
3.12868458 0.00175818
1.82858118 0.06747354
101.13597574 0.00000000
6.90336321 0.00000000
-81.20599589 0.00000000
-13.39817391 0.00000000
35.62590905 0.00000000
0.12240238 0.90258040
52.06261435 0.00000000
17.92953030 0.00000000
4.11711498 0.00003839
-75.14172526 0.00000000
-9.26293858 0.00000000
4.68308593 0.00000283
3.73867113 0.00018502
27.10665809 0.00000000
10.40120232 0.00000000
11.20341418 0.00000000
6.00140816 0.00000000
-1.54266383 0.12291941
10.51785142 0.00000000
1.72100146 0.08525402
68.05565514 0.00000000
-9.69341824 0.00000000
-19.39433275 0.00000000
-3.26850117 0.00108126
7.32923254 0.00000000
-145.53349555 0.00000000
-36.92624454 0.00000000
-20.71758374 0.00000000
36.10512372 0.00000000
4.63919596 0.00000354
-13.42938860 0.00000000
56.57093952 0.00000000
70.99854414 0.00000000
-10.27701582 0.00000000
44.05855744 0.00000000
-348.61151405 0.00000000
65.20062120 0.00000000
-93.05874048 0.00000000
7.55340720 0.00000000
-22.61073972 0.00000000
11.32348349 0.00000000
-18.20817680 0.00000000
-41.67956444 0.00000000
-37.87271316 0.00000000
-23.41841362 0.00000000
-158.18120661 0.00000000
45.10636074 0.00000000
24.99617724 0.00000000
-6.64984664 0.00000000
41.07754094 0.00000000
76.65835902 0.00000000
-131.94157379 0.00000000
-24.88210268 0.00000000
-68.25693784 0.00000000
-15.14167966 0.00000000
7.97611984 0.00000000
20.66585557 0.00000000
60.49846295 0.00000000
48.80798889 0.00000000
25.29071934 0.00000000
10.27015557 0.00000000
-0.58557003 0.55816542
91.86468314 0.00000000
-7.12616276 0.00000000
-6.75830195 0.00000000
-51.32084146 0.00000000
25.02053976 0.00000000
-7.90804752 0.00000000
-327.54215913 0.00000000
3.35229069 0.00080160
-21.63979976 0.00000000
-16.93840556 0.00000000
-40.96447494 0.00000000
-49.36944729 0.00000000
-88.52856333 0.00000000
-56.66664161 0.00000000
78.85358724 0.00000000
-212.37472493 0.00000000
-34.74174001 0.00000000
-125.76375737 0.00000000
-123.50525471 0.00000000
-27.93830544 0.00000000
-41.46018247 0.00000000
193.33968210 0.00000000
77.87614730 0.00000000
27.12520461 0.00000000
-59.20327330 0.00000000
11.26990724 0.00000000
35.10698364 0.00000000
102.58742970 0.00000000
-25.71140109 0.00000000
28.71042362 0.00000000
-47.25611739 0.00000000
37.04400118 0.00000000
7.85697472 0.00000000
-117.21379123 0.00000000
-87.81981808 0.00000000
-0.94143708 0.34648136
-36.60269441 0.00000000
63.60790692 0.00000000
-9.20042569 0.00000000
-29.38038001 0.00000000
-8.31055766 0.00000000
-78.49319635 0.00000000
-57.83834929 0.00000000
-19.40240532 0.00000000
-91.94147921 0.00000000
-64.26455136 0.00000000
-22.97761259 0.00000000
35.70605384 0.00000000
-5.81632556 0.00000001
-165.62565309 0.00000000
-51.50987804 0.00000000
-22.14832642 0.00000000
45.38393474 0.00000000
-90.01947432 0.00000000
-84.68205810 0.00000000
-41.52141750 0.00000000
59.51180489 0.00000000
-290.48463677 0.00000000
65.15785085 0.00000000
-21.10971556 0.00000000
14.29152918 0.00000000
-51.41963104 0.00000000
-58.81471880 0.00000000
80.32034939 0.00000000
-11.86357694 0.00000000
-43.56820393 0.00000000
-11.69908210 0.00000000
-26.11270107 0.00000000
-119.12271908 0.00000000
26.91891163 0.00000000
0.71533628 0.47440417

In [9]:
users['t_stat'] = t_stats_
users['p_value'] = p_values_

In [10]:
users.t_stat.value_counts()

nan              6
66.98358755      1
-4.96381338      1
27.44087156      1
-33.64537607     1
                ..
-299.99686888    1
2.21674488       1
51.58553145      1
1.46252743       1
0.71533628       1
Name: t_stat, Length: 632, dtype: int64

In [56]:
len(t_stats)

102

In [11]:
users.to_excel('t_test.xlsx')

In [4]:
def get_deposit_history(TOTOID, UsersList):
    user_bets = f"""
    DECLARE @StartDate DATE;
    DECLARE @EndDate   DATE;
    SET @StartDate = '2022-07-01'
    SET @EndDate   = CAST(GETDATE() AS DATE)

    SELECT u.PartnerUserId,
    CAST(p.modify_date AS DATE)        AS Date,
    p.Amount                           AS Amount
    FROM Payment AS p
        INNER JOIN  C_PaymentSystem AS ps
            ON ps.PaymentSystemId = p.PaymentSystemID
        INNER JOIN VIEW_PlatformPartnerUsers_TotogamingAm AS u
            ON u.UserID = p.UserID
    WHERE u.PartnerUserId = {TOTOID}
      AND p.PaymentTypeID = 2
      AND p.PaymentStatusID = 8
      AND CAST(p.modify_date AS DATE)  < @EndDate
      AND CAST(p.modify_date AS DATE) >= @StartDate
      AND ps.PaymentSystemName NOT IN ('PokerTransfer','TRANSFER')
      AND u.PartnerID IN (237)
      AND p.SourceID = 2


    """
    df = pd.read_sql(user_bets, cnx)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
    df['PartnerUserId'] = df['PartnerUserId'].astype(int)
    anchor_date = UsersList[UsersList['PartnerUserId'] == TOTOID].iloc[0,0]
    deposits_after = df[df['Date'] >= anchor_date]['Amount'].values
    deposits_before = df[df['Date'] < anchor_date]['Amount'].values
    t_stat, p_value = ttest_ind(deposits_before, deposits_after, equal_var=True)
    return t_stat, p_value

In [5]:
t_stats_dep = []
p_values_dep = []
for i in users['PartnerUserId'].values:
    t_stat, p_value = get_deposit_history(i, users)
    p_value = "{:.8f}".format(p_value)
    t_stat  = "{:.8f}".format(t_stat)
    print('Loop')
    print(t_stat, p_value)
    t_stats_dep.append(t_stat)
    p_values_dep.append(p_value)

KeyboardInterrupt:

In [12]:
users_arr = []
t_stat_arr = []
p_value_arr =  []
for id in users.PartnerUserId:
    df_user = df[df['PartnerUserId'] == id]
    user_sample = users[users['PartnerUserId'] == id]
    anchor_date = user_sample['Given High Status-Date'].values[0]
    bet_amounts_after = df_user[df_user['Date'] >= anchor_date]['BetAmount'].values
    bet_amounts_before = df_user[df_user['Date'] < anchor_date]['BetAmount'].values
    bet_amounts_after, bet_amounts_before = remove_outliers(bet_amounts_after), remove_outliers(bet_amounts_before)
    t_stat, p_value = ttest_ind(bet_amounts_before, bet_amounts_after,)
    users_arr.append(id)
    t_stat_arr.append(t_stat)
    p_value_arr.append(p_value)

In [13]:
TTest = pd.DataFrame({'PartnerUserId':users_arr, 't-stat':t_stat_arr, 'p-value':p_value_arr})

In [16]:
TTest.isnull().value_counts()

PartnerUserId  t-stat  p-value
False          True    True       461
               False   False      176
dtype: int64

In [ ]:
users

    Given High Status-Date  PartnerUserId        UserName  CasinoID
0               2022-10-01      100677520  arman098040404    496511
1               2022-10-01      100741725      slavikLV83    546264
2               2022-10-01      101098947     ANGEL87g001    926302
3               2022-10-01      100378290       filip_job    137271
4               2022-10-01      100381567       Interkons    154771
..                     ...            ...             ...       ...
707             2022-10-01      101043500      Hakob1991-    839624
708             2022-10-01      100556431       karlen-84    370321
709             2023-01-05      100609787       artur-h78    425826
710             2023-01-27      100832042       GABHOVO01    247701
711             2023-02-03      101127674         Gago005    967929

[712 rows x 4 columns]

In [15]:
anchor_date_arr = []
for user_id in df.PartnerUserId.values:
    date_ = users[users['PartnerUserId'] == int(user_id)].iloc[0, 0]
    anchor_date_arr.append(date_)

In [16]:
df['Anchor'] = anchor_date_arr

In [18]:
df['Before/After'] = df.apply(lambda row: 'After' if row['Date'] >= row['Anchor'] else 'Before', axis=1)

In [19]:
df

,PartnerUserId,Date,BetAmount,GGR,Bets,Platforms,Anchor,Before/After
0,100383244,2023-03-09,5000.0,5000.0,1,Sport,2022-11-01,After
1,100406049,2022-10-14,4200.0,4200.0,1,Sport,2022-10-01,After
2,100696038,2022-11-23,838481.0,146711.0,56,Sport,2022-10-01,After
3,100806223,2022-07-03,12930.0,4504.0,2,Sport,2022-11-01,Before
4,101242586,2023-03-10,2000.0,2000.0,1,Sport,2023-03-17,Before
...,...,...,...,...,...,...,...,...
983907,100423147,2022-09-28,31450.0,-109825.0,263,Casino,2022-11-01,Before
983908,100423147,2022-10-10,189500.0,17400.0,295,Casino,2022-11-01,Before
983909,100423147,2023-02-23,12020.0,-1390.0,6,Casino,2022-11-01,After
983910,100423147,2022-11-25,4450.0,4450.0,29,Casino,2022-11-01,After
983911,100423147,2022-10-31,32850.0,18725.0,188,Casino,2022-11-01,Before

In [20]:
bet_amounts_all_before = df[df['Before/After']=='Before']['BetAmount'].values
bet_amounts_all_after = df[df['Before/After']=='After']['BetAmount'].values

t_stat, p_value = ttest_ind(bet_amounts_all_before, bet_amounts_all_after,)
print(t_stat)
print(p_value)

-5.256767505721549
1.4663994223891713e-07

In [21]:
df['Global t_stat'] = t_stat
df['Global_p_value'] = p_value

In [22]:
df.to_excel('Z:\\Analytics\\High Values Change Analysis\\T_Test_Glob.xlsx')

In [23]:
TTest.to_excel('Z:\\Analytics\\High Values Change Analysis\\T_Test.xlsx')

In [1]:
import turtle

# Create a turtle object
t = turtle.Turtle()

# Draw a rectangle
for i in range(2):
    t.forward(100)
    t.right(90)
    t.forward(50)
    t.right(90)

# Close the turtle window
turtle.done()

In [3]:
import turtle

# Create a turtle object
t = turtle.Turtle()

# Set the color and size of the turtle
t.color('red')
t.pensize(5)

# Draw the heart shape
t.left(45)
t.forward(100)
t.circle(50, 180)
t.right(90)
t.circle(50, 180)
t.forward(100)

# Hide the turtle
t.hideturtle()

# Close the turtle window
turtle.done()